.menu-list {
  min-width: 230px;
}

.menu-propper {
  padding-bottom: 8px;
  padding-top: 8px;
}
//menu-item
.menu-item {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 16px;
  border-radius: 0;
  border: none;

  .title {
    transform: translateY(-2px);
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

//menu-header
.header {
  position: relative;
  text-align: center;
  padding: 14px 17px;
  margin-top: -8px;
}
.back-btn {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: translate(calc(50% + 10px), 50%);
  cursor: pointer;
}
.header-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 22px;
}
