.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: var(--default-layout-width);
  display: flex;
  padding: 0 var(--padding-container);
}
.content {
  flex: 1;
}
